.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.icon-text-wrapp{
  margin-top: 30px;
  /* margin-left: 30px; */
  display: flex;
  flex-direction: column;
  
}
.icon-text-wrapp2{
  margin-top: 30px;
  margin-left: 30px;
}
.tabStyle{
  width: 70%;
}

/* header styling */
.header-al-style{
  color: black !important;
  background-color: cadetblue !important;
  box-shadow: 0 -6px 10px 5px rgb(0 0 0 / 50%);
  height: 90px !important;
}
.logo-wrap-div{
  height: 93px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  height: 80%;
  width: 30%;
}
.header-tab-style{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.ant-tabs-ink-bar{
  position: absolute;
    background: black !important;
    pointer-events: none;
    display: none;
}
.sign-up-btn-wrap{
  padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-btn{
  background-color: transparent !important;
  border: 1px solid !important;
  margin-right: 10px;
  margin-left: 10px;
}

/* Footer Styling */

.footer-al-style{
  background-color: cadetblue !important;
}

.w-100{
  width: 100%;
}
.link-c{
  color: black;
}

.input-form-1{
  width: 40%
}
.icon-text{
  display: flex;
  width: 70%;
  /* background-color: #3f51b530; */
  height: 40px;
  justify-content: start;
  align-items: center;
}
.form-p{
  font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.tab-text{
  font-size: 16px;
  font-weight: 500;
}

.m-top-0{
  margin-top: 0px;
  margin-bottom: 0px !important;
  margin-left: 12px;
}
.change-avatar{
  margin-left: 20px;
  margin-right: 10px;
}
.avatar-div{
  margin-bottom: 20px;
}

.wrap-in-add{
  display: flex;
}
.name-ss{
  width: 78%;
  
}
.name-wrr{
  border-bottom: 1px solid #5f9ea054;
  display: flex;
}
.add-btn-in{
  background-color: transparent;
    border-color: cadetblue;
    color: cadetblue;
    margin-left: 12px;
    height: 35px !important;
    padding: 3px 15px 3px 15px !important;
}
.ppd-1{
  margin-top: 12px;
}
.num-m-l{
  margin-right: 5px;
}

/* designing lease contact */

.lease-Header-Base{
  padding: 0PX !important;
  background-color: transparent !important;
  height: auto !important;
}
.header-blue-clr{
   background-color: #4191c8 !important;
}
.head1-height{
  height: 54px !important;
}
.tab-style{
  margin-bottom: 0px !important;
  padding: 0px 30px 0px 30px;
}
.tab-indi-style{
  color: white !important;
  font-size: 16px;
  font-weight: 500;
  
}
.new-lease{
  margin: 12px 30px !important;
  font-weight: 500 !important;
  color: #00000096 !important;
}
.date-pick{
  width: 100% !important;
}
.icon-sizing-header{
  font-size: 25px;
    color: white;
}
.logged-user-h{
  margin: 12px 0px;
    color: white !important;
}
.add-lease-cc{
  text-align: center;
}

.ant-tabs-nav{
  margin-bottom: 0px !important;
}
.charge-details{
  margin-left: 40px;
    border-bottom: 2px solid #00000096;
    color: #00000096;
    padding-bottom: 5px;
}
.form-arrange{
  margin: 0px;
  padding: 8px 0px;
  padding-bottom: 0px;
}
.end-icon-cc{
  color: #ada8a8;
}
.content-spacing{
  padding-top: 70px;
}
.table-arr{
  padding-left: 30px;
  padding-right: 30px;
}
.plus-arr{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
}
.plus-delete{
  color: #4191c8;
}
.c-s-hh{
  padding-top: 65px;
}
textarea {
  resize: none;
}
td{
  text-align: center;
}
th{
  text-align: center !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
